:root {
  --lineNumber: 294deg
}


#taxes {
  width: 134px;
  position: absolute;
  top: 299px;
  left: 44px;
}

#rainyDay {
  width: 164px;
  position: absolute;
  top: 231px;
  left: 44px;
}

#jacobs {
  height: 158px;
  position: absolute;
  top: 170px;
  left: 111px;
  clip-path: polygon(40% 0, 100% 60%, 60% 100%, 0 40%);
}

.jacobs-diag {
  height: 10px;
  width: 89px;
  position: absolute;
  top: 295px;
  left: 196px;
  transform: rotate(135deg);
}

#phillips {
  height: 158px;
  position: absolute;
  display: inline-block;
  top: 108px;
  left: 173px;
  clip-path: polygon(40% 0, 100% 60%, 60% 100%, 0 40%);
}

.phillips-diag {
  height: 10px;
  width: 89px;
  position: absolute;
  top: 233px;
  left: 258px;
  transform: rotate(135deg);
}

#auction2 {
  height: 165px;
  position: absolute;
  top: 39px;
  left: 235.3px;
  clip-path: polygon(0 42%, 57% -2%, 100% 81%, 75% 100%);
}

#opportunity3 {
  height: 134px;
  position: absolute;
  top: 39px;
  left: 306px;
  clip-path: polygon(0 0, 97% 0, 97% 100%, 53% 100%);
}

#scotts {
  height: 134px;
  position: relative;
}

.scotts {
  box-sizing: content-box;
  position: absolute;
  height: 144px;
  width: 89px;
  top: 39px;
  left: 403px;
}

#lavenders {
  height: 134px;
  position: relative;
}

.lavenders {
  box-sizing: content-box;
  position: absolute;
  height: 144px;
  width: 89px;
  top: 39px;
  left: 490px;
}

#interest {
  height: 134px;
  position: absolute;
  top: 39px;
  left: 577px;
  clip-path: polygon(0 0, 100% 0, 47% 100%, 0 100%);
}

#familyReunion {
  height: 164px;
  position: absolute;
  top: 39px;
  left: 622px;
  clip-path: polygon(44% -1%, 100% 42%, 24% 100%, 0 82%);
}

#jeffreys {
  height: 157px;
  position: absolute;
  top: 107px;
  left: 651px;
  clip-path: polygon(60% 0, 100% 40%, 40% 100%, 0 60%);
}

.jeffreys-diag {
  height: 10px;
  width: 87px;
  position: absolute;
  top: 231px;
  left: 636px;
  transform: rotate(45deg);
}

#millers {
  height: 157px;
  position: absolute;
  top: 168px;
  left: 712px;
  clip-path: polygon(60% 0, 100% 40%, 40% 100%, 0 60%);
}

.millers-diag {
  height: 10px;
  width: 87px;
  position: absolute;
  top: 292px;
  left: 697px;
  transform: rotate(45deg);
}

#opportunity4 {
  width: 163px;
  position: absolute;
  top: 230px;
  left: 773.5px;
  clip-path: polygon(58% 0, 100% 55%, 19% 100%, 0 76%);
}

#auction3 {
  width: 133px;
  position: absolute;
  top: 298px;
  left: 804px;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 55%);
}

#robbins {
  width: 133px;
  position: relative;
  left: 10px;
}

.robbins {
  box-sizing: content-box;
  position: absolute;
  height: 89px;
  width: 133px;
  top: 396px;
  left: 794px;
}

#smiths {
  width: 133px;
  position: relative;
  left: 10px;
}

.smiths {
  box-sizing: content-box;
  position: absolute;
  height: 89px;
  width: 133px;
  top: 483px;
  left: 794px;
}

#cropDamage {
  width: 133px;
  position: absolute;
  top: 570px;
  left: 804px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 46%);
}

#opportunity5 {
  width: 163px;
  position: absolute;
  top: 614px;
  left: 774px;
  clip-path: polygon(19% 0, 100% 44%, 57% 100%, 0 25%);
}

#watsons {
  height: 157px;
  position: absolute;
  top: 643px;
  left: 713px;
  clip-path: polygon(40% 0, 100% 60%, 60% 100%, 0 40%);
}

.watsons-diag {
  height: 10px;
  width: 87px;
  position: absolute;
  top: 667px;
  left: 698px;
  transform: rotate(135deg);
}

#davis {
  height: 157px;
  position: absolute;
  top: 704px;
  left: 652px;
  clip-path: polygon(40% 0, 100% 60%, 60% 100%, 0 40%);
}

.davis-diag {
  height: 10px;
  width: 87px;
  position: absolute;
  top: 728.5px;
  left: 637px;
  transform: rotate(135deg);
}

#tractor {
  height: 164px;
  position: absolute;
  top: 765px;
  left: 621px;
  clip-path: polygon(26% 0, 100% 57%, 44% 100%, 0 19%);
}

#start {
  height: 134px;
  position: absolute;
  top: 795px;
  left: 578px;
  clip-path: polygon(0 0, 45% 0, 100% 100%, 0% 100%);
}

#landers {
  height: 134px;
  top: 10px;
  position: relative;
}

.landers {
  box-sizing: content-box;
  position: absolute;
  height: 144px;
  width: 89px;
  top: 785px;
  left: 491px;
}

#vernons {
  height: 134px;
  top: 10px;
  position: relative;
}

.vernons {
  box-sizing: content-box;
  position: absolute;
  height: 144px;
  width: 89px;
  top: 785px;
  left: 404px;
}

#opportunity1 {
  height: 134px;
  position: absolute;
  top: 795px;
  left: 306px;
  clip-path: polygon(54% 0, 100% 0, 100% 100%, 0 100%);
}

#auction1 {
  height: 164px;
  position: absolute;
  top: 765px;
  left: 236px;
  clip-path: polygon(76% 0, 100% 18%, 57% 100%, 0 58%);
}

#sharps {
  height: 158px;
  position: absolute;
  top: 704px;
  left: 175px;
  clip-path: polygon(60% 0, 100% 40%, 40% 100%, 0 60%);
}

.sharps-diag {
  height: 10px;
  width: 89px;
  position: absolute;
  top: 727.5px;
  left: 259.5px;
  transform: rotate(45deg);
}

#parkers {
  height: 158px;
  position: absolute;
  top: 643px;
  left: 114px;
  clip-path: polygon(60% 0, 100% 40%, 40% 100%, 0 60%);
}

.parkers-diag {
  height: 10px;
  width: 89px;
  position: absolute;
  top: 666.5px;
  left: 198.5px;
  transform: rotate(45deg);
}

#juryDuty {
  width: 166px;
  position: absolute;
  top: 613px;
  left: 44px;
  clip-path: polygon(0 43%, 81% 0, 100% 25%, 42% 100%);
}

#opportunity2 {
  width: 134px;
  position: absolute;
  top: 570px;
  left: 44px;
  clip-path: polygon(0 5%, 100% 5%, 100% 46%, 0 100%);
}

#hendersons {
  width: 134px;
  right: 10px;
  position: relative;
}

.hendersons {
  box-sizing: content-box;
  position: absolute;
  height: 89px;
  width: 134px;
  top: 486px;
  left: 54px;
}


#lewis {
  width: 134px;
  position: relative;
  right: 10px;
}

.lewis {
  box-sizing: content-box;
  position: absolute;
  height: 89px;
  width: 134px;
  top: 399px;
  left: 54px;
}

.spinner {
  height: 110px;
  position: absolute;
  top: 13px;
  right: 59px;
}

.animation1 {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, spinner1 ease-out forwards;
  animation-duration: 0.3s, 0.5s;
  animation-delay: 0s, 0.6s;
}

.animation2 {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, spinner2 ease-out forwards;
  animation-duration: 0.3s, calc(0.0625s*3);
  animation-delay: 0s, 0.6s;
}

.animation3 {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, spinner3 ease-out forwards;
  animation-duration: 0.3s, calc(0.0625s*7);
  animation-delay: 0s, 0.6s;
}

.animation4 {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, spinner4 ease-out forwards;
  animation-duration: 0.3s, calc(0.0625s*5);
  animation-delay: 0s, 0.6s;
}

.animation5 {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, spinner5 ease-out forwards;
  animation-duration: 0.3s, calc(0.0625s*1);
  animation-delay: 0s, 0.6s;
}

.animation6 {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, spinner6 ease-out forwards;
  animation-duration: 0.3s, calc(0.0625s*6);
  animation-delay: 0s, 0.6s;
}

.animation7 {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, spinner7 ease-out forwards;
  animation-duration: 0.3s, calc(0.0625s*2);
  animation-delay: 0s, 0.6s;
}

.animation8 {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, spinner8 ease-out forwards;
  animation-duration: 0.3s, calc(0.0625s*4);
  animation-delay: 0s, 0.6s;
}

.plow {
  background: #ff0000;
  z-index: -1;
}

.fertilize {
  background: #ded00d;
  z-index: -1;
}

.plant {
  background: #0b35db;
  z-index: -1;
}

.gather {
  background: #10e063;
  z-index: -1;
}

#spinnerBase {
  width: 134px;
  position: absolute;
  top: 400px;
  left: 300px;
}

.pointer {
  pointer-events: auto;
}

.modalImage {
  width: 50px;
  height: 50px;
}

#startGame {
  position: absolute;
  top: 450px;
  left: 550px;
}

#turnNotification {
  position: absolute;
  top: 250px;
  left: 360px;
  width: 300px;
}

.line {
  transform-origin: 50% 48.9%;
  animation: spin .3s linear 2, lineAnim ease-out forwards;
  animation-duration: 0.3s, 0.5s;
  animation-delay: 0s, 0.6s;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner1 {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner2 {
  100% {
    -webkit-transform: rotate(135deg);
  }
}

@keyframes spinner3 {
  100% {
    -webkit-transform: rotate(315deg);
  }
}

@keyframes spinner4 {
  100% {
    -webkit-transform: rotate(225deg);
  }
}

@keyframes spinner5 {
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes spinner6 {
  100% {
    -webkit-transform: rotate(270deg);
  }
}

@keyframes spinner7 {
  100% {
    -webkit-transform: rotate(90deg);
  }
}

@keyframes spinner8 {
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@keyframes lineAnim {
  100% {
    -webkit-transform: rotate(var(--lineNumber));
  }
}

.gamePiece {
  height: 50px;
}

.gamePiece-blue {
  filter: invert(45%) sepia(39%) saturate(3483%) hue-rotate(164deg) brightness(98%) contrast(101%)
          drop-shadow(-1px 0 0 black)  /* Left */
          drop-shadow(1px 0 0 black)   /* Right */
          drop-shadow(0 -1px 0 black)  /* Top */
          drop-shadow(0 1px 0 black);  /* Bottom */
}

.gamePiece-red {
  filter: invert(26%) sepia(100%) saturate(7449%) hue-rotate(4deg) brightness(98%) contrast(122%)
          drop-shadow(-1px 0 0 black)
          drop-shadow(1px 0 0 black)
          drop-shadow(0 -1px 0 black)
          drop-shadow(0 1px 0 black);
}

.gamePiece-green {
  filter: invert(62%) sepia(33%) saturate(6481%) hue-rotate(77deg) brightness(122%) contrast(123%)
          drop-shadow(-1px 0 0 black)
          drop-shadow(1px 0 0 black)
          drop-shadow(0 -1px 0 black)
          drop-shadow(0 1px 0 black);
}

.gamePiece-brown {
  filter: invert(23%) sepia(71%) saturate(3269%) hue-rotate(288deg) brightness(107%) contrast(144%)
          drop-shadow(-1px 0 0 black)
          drop-shadow(1px 0 0 black)
          drop-shadow(0 -1px 0 black)
          drop-shadow(0 1px 0 black);
}

.gamePiece-yellow {
  filter: invert(81%) sepia(73%) saturate(1528%) hue-rotate(351deg) brightness(97%) contrast(105%)
          drop-shadow(-1px 0 0 black)
          drop-shadow(1px 0 0 black)
          drop-shadow(0 -1px 0 black)
          drop-shadow(0 1px 0 black);
}

.gamePiece-black {
  filter: invert(35%) sepia(70%) saturate(2594%) hue-rotate(0deg) brightness(101%) contrast(108%)
          drop-shadow(-1px 0 0 black)
          drop-shadow(1px 0 0 black)
          drop-shadow(0 -1px 0 black)
          drop-shadow(0 1px 0 black);
}




#boardSpace0 {
  position: absolute;
  top: 830px;
  left: 595px;
}

#boardSpace1 {
  position: absolute;
  top: 830px;
  left: 500px;
}

#boardSpace2 {
  position: absolute;
  top: 830px;
  left: 420px;
}

#boardSpace3 {
  position: absolute;
  top: 830px;
  left: 350px;
}

#boardSpace4 {
  position: absolute;
  top: 830px;
  left: 270px;
}

#boardSpace5 {
  position: absolute;
  top: 775px;
  left: 220px;
}

#boardSpace6 {
  position: absolute;
  top: 710px;
  left: 150px;
}

#boardSpace7 {
  position: absolute;
  top: 660px;
  left: 90px;
}

#boardSpace8 {
  position: absolute;
  top: 580px;
  left: 90px;
}

#boardSpace9 {
  position: absolute;
  top: 500px;
  left: 80px;
}

#boardSpace10 {
  position: absolute;
  top: 420px;
  left: 80px;
}

#boardSpace11 {
  position: absolute;
  top: 340px;
  left: 80px;
}

#boardSpace12 {
  position: absolute;
  top: 260px;
  left: 80px;
}

#boardSpace13 {
  position: absolute;
  top: 210px;
  left: 145px;
}

#boardSpace14 {
  position: absolute;
  top: 140px;
  left: 210px;
}

#boardSpace15 {
  position: absolute;
  top: 80px;
  left: 270px;
}

#boardSpace16 {
  position: absolute;
  top: 50px;
  left: 330px;
}

#boardSpace17 {
  position: absolute;
  top: 60px;
  left: 425px;
}

#boardSpace18 {
  position: absolute;
  top: 60px;
  left: 510px;
}

#boardSpace19 {
  position: absolute;
  top: 60px;
  left: 600px;
}

#boardSpace20 {
  position: absolute;
  top: 80px;
  left: 660px;
}

#boardSpace21 {
  position: absolute;
  top: 150px;
  left: 720px;
}

#boardSpace22 {
  position: absolute;
  top: 210px;
  left: 770px;
}

#boardSpace23 {
  position: absolute;
  top: 260px;
  left: 850px;
}

#boardSpace24 {
  position: absolute;
  top: 330px;
  left: 860px;
}

#boardSpace25 {
  position: absolute;
  top: 420px;
  left: 860px;
}

#boardSpace26 {
  position: absolute;
  top: 500px;
  left: 860px;
}

#boardSpace27 {
  position: absolute;
  top: 580px;
  left: 860px;
}

#boardSpace28 {
  position: absolute;
  top: 650px;
  left: 840px;
}

#boardSpace29 {
  position: absolute;
  top: 710px;
  left: 780px;
}

#boardSpace30 {
  position: absolute;
  top: 770px;
  left: 720px;
}

#boardSpace31 {
  position: absolute;
  top: 820px;
  left: 660px;
}